[Desktop Entry]
Name=Return to Gamemode
Comment=Return to gamescope custom gamemode session
Exec=sh -c "sudo systemctl start return-to-gamemode"
TryExec=sh -c "sudo systemctl start return-to-gamemode"
Type=Application
DesktopNames=Gamemode
Icon=steam
Categories=Game;
